label, input {
  margin: 10px;
}


.Elections {
  display: flex;
}

.election {
  margin: 20px;
  padding: 15px;
  color: #FFFFFF;
  background-color: #00A0BD;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.election-info a {
  display: block;
}

